<app-navbar></app-navbar>
<app-header></app-header>
<app-sidebar></app-sidebar>

<div id="main" style="background-color: white">

    <div id="content">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <router-outlet></router-outlet>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <app-footer></app-footer>
    </div>

</div>