<div class="tabbable">

    <div class="tab-content">
        <!--div class="col-lg-6"-->
        <section class="panel corner-flip">
            <header class="panel-heading sm" data-color="theme-inverse">
                <h2><strong>Rajouter une publicité </strong></h2>
                <label class="color"><strong><em></em></strong> </label>
            </header>
            <div class="panel-tools color" align="right" data-toolscolor="#4EA582">
                <ul class="tooltip-area">
                    <li><a href="javascript:void(0)" class="btn btn-collapse" title="Collapse"><i class="fa fa-sort-amount-asc"></i></a></li>
                    <li><a href="javascript:void(0)" class="btn btn-reload" title="Reload"><i class="fa fa-retweet"></i></a></li>
                    <li><a href="javascript:void(0)" class="btn btn-close" title="Close"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>

            <div class="panel-body">

                <form [formGroup]="publiciteForm" (ngSubmit)="onPubliciteFormSubmit()" class="form-horizontal" data-collabel="3" data-alignlabel="left">
                    <!-- <form [formGroup]="institutionForm" (ngSubmit)="onInstitutionFormSubmit()" class="form-horizontal" data-collabel="3" data-alignlabel="left"> -->

                    <div class="form-group">
                        <label class="control-label"> Titre </label>
                        <div>
                            <input type="text" class="form-control" formControlName="titrePublicite" />
                            <label *ngIf="publiciteForm.get('titrePublicite').invalid && processValidation" [ngClass]="'error'"> Le titre de la publicité est obligatoire. </label>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label"> Type de Publicité </label>
                        <div>
                            <!--  <input type="text" class="form-control" formControlName="price">  -->
                            <select class="form-control" formControlName="typePublicite"> <!-- formControlName="typePublicite"-->
                              <option value="Accueil"> Accueil </option>
                              <option value="Article">Article</option>
                              <option value="Carroussel">Carroussel Prestataire</option>
                            </select>
                            <label *ngIf="publiciteForm.get('typePublicite').invalid && processValidation" [ngClass]="'error'"> Le type de la publicité est obligatoire. </label>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label" for="exampleInputFile">Photo publicité </label>
                        <div>
                            <input type="file" (change)="fileChange($event)" name="uploadFile" />
                            <label *ngIf="processValidation" [ngClass]="'error'"> La photo est obligatoire. </label>

                            <!--  formControlName="photoIns" 	<label *ngIf="institutionForm.get('photoIns').invalid && processValidation" [ngClass] = "'error'"> La photo doit est obligatoire. </label>                   
                	 -->

                            <!--   <button type="file" class="btn btn-primary" >Upload </button> -->
                            <!--   <label *ngIf="institutionForm.get('photoIns').invalid && processValidation" [ngClass] = "'error'"> La longitude est obligatoire. </label>   -->

                        </div>
                    </div>




                    <div class="form-group offset">
                        <div>
                            <button type="submit" class="btn btn-theme">Enregistrer</button>
                            <button type="reset" class="btn">Annuler</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>


<!--
////////////////////////////////////////////////////////////////////////
//////////     JAVASCRIPT  LIBRARY     //////////
/////////////////////////////////////////////////////////////////////
-->