<div class="main" id="content">
<div class="row">
    <div class="col-lg-8">
        <section class="panel bg-inverse">
            <div class="tabbable">
                <ul class="nav nav-tabs chart-change">
                    <li><a href="javascript:void(0)" data-change-type="bars" data-for-id="#stack-chart"><i class="fa fa-bar-chart-o"></i> &nbsp; Bars Chart</a></li>
                    <li class="active"><a href="javascript:void(0)" data-change-type="lines" data-for-id="#stack-chart"><i class="fa fa-qrcode"></i> &nbsp; Lines Chart</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active">
                        <div class="widget-chart chart-dark">
                            <table id="stack-chart" data-stack="true" class="flot-chart" data-type="lines" data-yaxis-max="3000" data-tool-tip="show" data-width="100%" data-height="300px" data-bar-width="0.5" data-tick-color="rgba(0,0,0,0.05)">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th style="color : #3db9af;">Test</th>
                                        <th style="color : #d9dfe3 ;">Page View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>JAN</th>
                                        <td>250</td>
                                        <td>295</td>
                                    </tr>
                                    <tr>
                                        <th>FEB</th>
                                        <td>145</td>
                                        <td>425</td>
                                    </tr>
                                    <tr>
                                        <th>MAR</th>
                                        <td>758</td>
                                        <td>986</td>
                                    </tr>
                                    <tr>
                                        <th>APR</th>
                                        <td>475</td>
                                        <td>548</td>
                                    </tr>
                                    <tr>
                                        <th>MAY</th>
                                        <td>452</td>
                                        <td>441</td>
                                    </tr>
                                    <tr>
                                        <th>JUN</th>
                                        <td>112</td>
                                        <td>257</td>
                                    </tr>
                                    <tr>
                                        <th>JUL</th>
                                        <td>857</td>
                                        <td>546</td>
                                    </tr>
                                    <tr>
                                        <th>AUG</th>
                                        <td>200</td>
                                        <td>125</td>
                                    </tr>
                                    <tr>
                                        <th>SEP</th>
                                        <td>55</td>
                                        <td>147</td>
                                    </tr>
                                    <tr>
                                        <th>OCT</th>
                                        <td>1900</td>
                                        <td>315</td>
                                    </tr>
                                    <tr>
                                        <th>NOV</th>
                                        <td>578</td>
                                        <td>425</td>
                                    </tr>
                                    <tr>
                                        <th>DEC</th>
                                        <td>1900</td>
                                        <td>865</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-4">

        <div class="well bg-theme-inverse">
            <div class="widget-tile">
                <section>
                    <h5><strong>PAGES</strong> VIEWER </h5>
                    <h2>97,584</h2>
                    <div class="progress progress-xs progress-white progress-over-tile">
                        <div class="progress-bar  progress-bar-white" aria-valuetransitiongoal="97584" aria-valuemax="300000"></div>
                    </div>
                    <label class="progress-label label-white">32.53% of  viewer target</label>
                </section>
                <div class="hold-icon"><i class="fa fa-laptop"></i></div>
            </div>
        </div>

        <div class="well bg-theme">
            <div class="widget-tile">
                <section>
                    <h5><strong>REGISTERED</strong> USERS </h5>
                    <h2>8,590</h2>
                    <div class="progress progress-xs progress-white progress-over-tile">
                        <div class="progress-bar  progress-bar-white" aria-valuetransitiongoal="8590" aria-valuemax="10000"></div>
                    </div>
                    <label class="progress-label label-white"> Just 1410 member to limit , <a href="#">Upgrade Now</a> </label>
                </section>
                <div class="hold-icon"><i class="fa fa-bar-chart-o"></i></div>
            </div>
        </div>

        <!--
        <div class="row">
            <h4><strong> Les évenements à venir </strong></h4>
            <div class="col-lg-12">
                <div *ngFor="let ev of eventsToCome">

                    <div class="col-lg-2">
                        {{ev.nomEvent}}
                        <a [routerLink]="['deleteEvent', ev.idEvent]"><img src="{{urls}}/{{ev.photoEvent}}" style="width:40%" /></a>
                    </div>
                </div>
            </div>
        </div>
    -->


    </div>
</div></div>