<div id="nav">
    <div id="nav-scroll">
        <div class="avatar-slide">

            <span class="easy-chart avatar-chart" data-color="theme-inverse" data-percent="69" data-track-color="rgba(255,255,255,0.1)" data-line-width="5" data-size="118">
              <span class="percent"></span>
            <img alt="" src="assets/img/profil.jpg" class="circle">
            </span>
            <!-- //avatar-chart-->

            <div class="avatar-detail">
                <p><strong>Admin</strong> Liv'in DKR</p>
                <p><a href="#">@ admin</a></p>
                <span>12,110 Institutions</span>
                <span>106 Evénements</span>
            </div>
            <!-- //avatar-detail-->

            <div class="avatar-link btn-group btn-group-justified">
                <a class="btn" href="profile.html" title="Portfolio"><i class="fa fa-briefcase"></i></a>
                <a class="btn" data-toggle="modal" href="#md-notification" title="Notification">
                    <i class="fa fa-bell-o"></i><em class="green"></em>
                </a>
                <a class="btn" data-toggle="modal" href="#md-messages" title="Messages">
                    <i class="fa fa-envelope-o"></i><em class="active"></em>
                </a>
                <a class="btn" href="#menu-right" title="Contact List"><i class="fa fa-book"></i></a>
            </div>
            <!-- //avatar-link-->

        </div>
        <!-- //avatar-slide-->


        <div class="widget-collapse dark">
            <header>
                <a data-toggle="collapse" href="#collapseSummary"><i class="collapse-caret fa fa-angle-up"></i> Historiques hebdomadaires </a>
            </header>
            <section class="collapse in" id="collapseSummary">
                <div class="collapse-boby" style="padding:0">

                    <div class="widget-mini-chart align-xs-left">
                        <div class="pull-right">
                            <div class="sparkline mini-chart" data-type="bar" data-color="theme" data-bar-width="10" data-height="35">2,3,4,5,7,4,5</div>
                        </div>
                        <p>Institutions</p>
                        <h4>120</h4>
                    </div>
                    <!-- //widget-mini-chart -->

                    <div class="widget-mini-chart align-xs-right">
                        <div class="pull-left">
                            <div class="sparkline mini-chart" data-type="bar" data-color="warning" data-bar-width="10" data-height="45">2,3,7,5,4,6,6,3</div>
                        </div>
                        <p>Evénements</p>
                        <h4>100 </h4>
                    </div>
                    <!-- //widget-mini-chart -->

                </div>
                <!-- //collapse-boby-->

            </section>
            <!-- //collapse-->
        </div>
    </div>

</div>