<div id="nav">
    <div id="nav-scroll">
        <div class="avatar-slide">

            <span class="easy-chart avatar-chart" data-color="theme-inverse" data-percent="69" data-track-color="rgba(255,255,255,0.1)" data-line-width="5" data-size="118">
              <span class="percent"></span>
            <img alt="" src="assets/img/profil.jpg" class="circle">
            </span>
            <!-- //avatar-chart-->

            <div class="avatar-detail">
                <p><strong>Admin</strong> Liv'in DKR</p>
                <p><a href="#">@ admin</a></p>
                <span>12,110 Institutions</span>
                <span>106 Evénements</span>
            </div>
            <!-- //avatar-detail-->

            <div class="avatar-link btn-group btn-group-justified">
                <a class="btn" href="profile.html" title="Portfolio"><i class="fa fa-briefcase"></i></a>
                <a class="btn" data-toggle="modal" href="#md-notification" title="Notification">
                    <i class="fa fa-bell-o"></i><em class="green"></em>
                </a>
                <a class="btn" data-toggle="modal" href="#md-messages" title="Messages">
                    <i class="fa fa-envelope-o"></i><em class="active"></em>
                </a>
                <a class="btn" href="#menu-right" title="Contact List"><i class="fa fa-book"></i></a>
            </div>
            <!-- //avatar-link-->

        </div>
        <!-- //avatar-slide-->


        <div class="widget-collapse dark shadow3">
            <header>
                <a data-toggle="collapse" href="#collapseSummary"><i class="collapse-caret fa fa-gears"></i> Paramétres </a>
            </header>
        </div>
        <div class="widget-collapse dark shadow3" style="margin-left: 15px">
            <header>
                <a data-toggle="modal" href="#md-messages"><i class="collapse-caret fa fa-gears"></i> Données Personnelles </a>
            </header>
        </div>
        <div class="widget-collapse dark shadow3" style="margin-left: 15px">
            <header>
                <a data-toggle="collapse" href="#collapseTasks"><i class="collapse-caret fa fa-clock-o"></i> Données Sécurisées  </a>
            </header>
            <section class="collapse in" id="collapseTasks">
                <div class="collapse-boby shadow2" style="padding:0;margin-left: 15px">
                    <a data-toggle="collapse" href="">
                        <i class="collapse-caret fa fa-envelope-o"></i> Changer Email </a>
                </div>
                <div class="collapse-boby shadow2" style="padding:0;margin-left: 15px">
                    <a data-toggle="collapse" href="#collapseSummary">
                        <i class="collapse-caret fa fa-key"></i> Changer Password </a>
                </div>
            </section>
            <!-- //collapse-->
        </div>
    </div>

</div>