<div class="main">
    <div id="connection" class="row" *ngIf="monRole==testRole">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <section *ngFor="let adminis of admins" (click)="connecterAvec7Admin(adminis.pseudo, adminis.idUser)" class="col-lg-2 col-md-3 col-sm-3 col-xs-4 panel corner-flip btn">
                <header class="align-lg-center panel-heading no-borders bg-white-darken">
                    <div class="mail-title">
                        <section class="align-lg-center">
                            <div class="mail-thumbnail align-lg-left"><img alt="" src="assets/img/avatar2.png" class="circle">
                                <div class="align-lg-right">
                                    <em>{{adminis.pseudo}} </em>
                                </div>
                            </div>

                        </section>
                    </div>
                </header>
            </section>
        </div>
    </div>

    <div class="widget-chat full-chat" id="loading">
        <header>
            <h4 class="online">{{discuter}}</h4>
        </header>
        <div class="chat-body" id="loading1">
            <dl class="chat">
                <div *ngFor="let message of messages">
                    <dt><strong>{{message.dateMessage}}</strong></dt>
                    <dd *ngIf="message.idEnvoyeur.idUser == idUtilisateur" class="to">
                        <p>{{message.corps}}</p>
                    </dd>
                    <dd *ngIf="message.idReceveur.idUser == idUtilisateur" class="from">
                        <p>{{message.corps}}</p>
                        <img alt="" src="{{url}}{{message.idReceveur.photo}}" class="avatar circle">
                    </dd>
                </div>
                <dd>
                    <ul class="load-bubble">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </dd>
            </dl>
        </div>
        <footer>
            <form class="message-input">
                <input name="message" [(ngModel)]="message" class="form-control col-lg-8" type="text" placeholder="Entrer votre message" />
                <button (click)="sendMessage()" type="button" class="btn btn-theme col-lg-4"><i class="glyphicon glyphicon-send"></i></button>
            </form>
        </footer>
    </div>
</div>