<div class="main">
    <div class="widget-chat full-chat">
        <header>
            <h4 class="online"> Chatting with Mayane</h4>
        </header>
        <div class="chat-body">
            <dl class="chat">
                <div *ngFor="let message of messages">
                    <dt><strong>Yesterday</strong> </dt>
                    <dd class="to" *ngIf="message.idEnvoyeur.idUser==userconnect.idUser">
                        <p>{{message.corps}}</p>
                    </dd>
                    <dd class="from" *ngIf="message.idEnvoyeur.idUser!=userconnect.idUser">
                        <p>{{message.corps}}</p>
                        <img alt="" src="assets/img/avatar2.png" class="avatar circle">
                    </dd>
                </div>
                <dd>
                    <ul class="load-bubble">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </dd>
            </dl>
        </div>
        <footer>
            <form class="message-input">
                <input [(ngModel)]="message" name="message" class="form-control" type="text" placeholder="Enter your message" />
                <button (click)="sendMessage()" type="button" class="btn btn-theme">Send</button>
                <button (click)="addUser()" type="button" class="btn btn-theme">Send</button>
            </form>
        </footer>
    </div>
</div>