<div class="main">
    <div id="connection" *ngIf="monRole==testRole" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <section *ngFor="let adminis of admins" (click)="connecterAvec7Admin(adminis.pseudo, adminis.idUser)" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel corner-flip btn">
            <header class="panel-heading no-borders bg-lightseagreen">
                <div class="mail-title align-lg-right">
                    <section>
                        <div class="mail-thumbnail "><img alt="" src="assets/img/avatar2.png" class="circle">

                        </div><em>{{adminis.pseudo}} </em>
                    </section>
                </div>
            </header>
        </section>
    </div>
    <div class="widget-chat full-chat" id="loading">
        <header>
            <h4 class="online">{{discuter}}</h4>
        </header>
        <div class="chat-body" id="loading1">
            <dl class="chat">
                <div *ngFor="let message of messages">
                    <dt><strong>{{message.dateMessage}}</strong></dt>
                    <dd *ngIf="message.idEnvoyeur.idUser == idUtilisateur" class="to">
                        <p>{{message.corps}}</p>
                    </dd>
                    <dd *ngIf="message.idReceveur.idUser == idUtilisateur" class="from">
                        <p>{{message.corps}}</p>
                        <img alt="" src="{{url}}{{message.idReceveur.photo}}" class="avatar circle">
                    </dd>
                </div>
                <dd>
                    <ul class="load-bubble">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </dd>
            </dl>
        </div>
        <footer>
            <form class="message-input">
                <input name="message" [(ngModel)]="message" class="form-control" type="text" placeholder="Entrer votre message" />
                <button (click)="sendMessage()" type="button" class="btn btn-theme">Envoyer</button>
            </form>
        </footer>
    </div>
</div>